$app-green: #4caf50;
$app-light-green: #a5d6a7;
$app-dark-green: #2e7d32;

.app {
  text-align: center;
  background-color: $app-light-green;
  color: $app-dark-green;
  font-family: Arial, sans-serif;
  padding: 20px;

  h1 {
    margin: 50px;
    color: $app-dark-green;
  }

  .show-results {
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $app-green;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: $app-dark-green;
    }
  }

  .winner {
    margin-top: 50px;
    font-size: 24px;
    color: $app-dark-green;
    span {
      font-size: 30px;
    }
  }
}

.emoji-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .emoji-item {
    background-color: $app-green;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .emoji {
      font-size: 30px;
      display: block;
      margin-bottom: 10px;
    }

    button {
      padding: 5px 10px;
      margin: 8px;
      border-radius: 10px;
      background-color: $app-green;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $app-dark-green;
      }
    }

    .votes {
      margin-top: 5px;
      font-size: 14px;
      color: white;
      }
  }
}
