.delete-button,
.edit-button {
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
    display: inline-block;
}

.taskWrapper:hover .delete-button,
.taskWrapper:hover .edit-button {
    opacity: 1;
    transform: translateY(0);
}

.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskDescription {
    font-size: 16px;
    margin-top: 10px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
